
<div>
    <div ng-controller="mainCtrl">
    </div>
</div>

@section Scripts{
    <script src="~/Scripts/Util/DateFormat.js"></script>
    <script src="~/Scripts/Controllers/HomeController.js"></script>
}
