@model Annotation.Web.Models.DocumentModel

@{
    ViewBag.Title = "Index";
}

<div ng-controller="documentCtrl">
    <div class="row">
        <div class="col-md-3" style="overflow-y:scroll;left:0;width:30%;height:{{pageHeight}}px;position:absolute;top:60px;">
            <div ng-repeat="ann in annotations" 
                 ng-mouseenter="hover(ann, true)"
                 ng-mouseleave="hover(ann, false)">
                <span ng-repeat="unit in ann.AnnotationBodyUnits"
                      ng-class="{linkedText: unit.Type == 'LinkedText'}">{{unit.Val}}</span>
            </div>
        </div>
        <div class="col-md-9" style="overflow-y:scroll;left:30%;width:70%;height:{{pageHeight}}px;position:absolute;top:60px;">
            @for (int i = 0; i < Model.Tokens.Count; i++) {<span style="display:inline;white-space:pre" id="token_@i">@Model.Tokens[i].ToString()</span>}
        </div>
    </div>
</div>

@section Scripts {
    <script>
        var documentId = '@Model.Id';
    </script>
    <script src="~/Scripts/Controllers/DocumentController.js"></script>
}