@model Annotation.Web.Models.DocumentModel

@{
    ViewBag.Title = "Index";
}

<style>
    #rootNavigationBar {
        visibility:hidden;
    }
    a:hover
    {
      text-decoration:none;
      color:white;
    }
</style>

<div ng-controller="documentCtrl">
    <div class="navbar navbar-inverse navbar-fixed-top"
         style="background-color:#3097d1;left:0;text-decoration:none;border:none;width:100%;height:58px;position:absolute;top:0;box-shadow: 0 0 16px #888888;text-align:center">
        <div class="container">
            <a class="navLink" href="~/">Home</a>
            <button class="btn btn-default" type="submit" style="float:left;margin-left:10px;margin-top:13px">Add New Annotation</button>
            <a class="navLink" style="float:right" href="~/">Amichai</a>
            <div style="float:right">
                <a><img src="~/Content/Assets/column3.png" width="25" class="setColumnStyle" /></a>
                <a><img src="~/Content/Assets/text22.png" width="25" class="setColumnStyle" /></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3" style="overflow-y:scroll;left:0;width:30%;height:{{pageHeight}}px;position:absolute;top:60px;" id="annotationPane">
            <div ng-repeat="ann in annotations"
                 ng-mouseenter="hover(ann, $index, true)"
                 ng-mouseleave="hover(ann, $index, false)"
                 ng-click="expandAnnotation(ann, $index)"
                 id="annotation_{{$index}}">
                <div ng-hide="ann.isExpanded">
                    <span ng-repeat="unit in ann.AnnotationPreviewUnits.Tokens"
                          ng-class="{linkedText: unit.Type == 'LinkedText'}">
                        {{unit.Val}}</span><span ng-show="ann.IsPreviewCutoff">...</span>
                </div>
                <div ng-show="ann.isExpanded" style="font-size:17px">
                    <span ng-repeat="unit in ann.AnnotationBodyUnits.Tokens"
                          ng-class="{linkedText: unit.Type == 'LinkedText'}">{{unit.Val}}</span>
                </div>
                <hr />
            </div>
        </div>
        <div class="col-md-9" style="overflow-y:scroll;left:30%;width:70%;height:{{pageHeight}}px;position:absolute;top:60px;">
            <div id="documentTitle">{{document.Title}}</div>
            <br />
            <div id="textBody">
                <span ng-repeat="token in document.Tokens" id="token_{{$index}}"
                      ng-click="clickToken(token)"
                      style="display:inline;white-space:pre;"
                      ng-mouseenter="hoverToken(token, $index, true)"
                      ng-mouseleave="hoverToken(token, $index, false)">{{token.AsString}}</span>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        var documentId = '@Model.Id';
    </script>
    <script src="~/Scripts/Controllers/DocumentController.js"></script>
}