@model Annotation.Web.Models.DocumentModel

@{
    ViewBag.Title = "Index";
}

<div ng-controller="documentCtrl">
    <div class="row">
        <div class="col-md-3" style="overflow-y:scroll;left:0;width:30%;height:{{pageHeight}}px;position:absolute;top:60px;" id="annotationPane">
            <div ng-repeat="ann in annotations"
                 ng-mouseenter="hover(ann, $index, true)"
                 ng-mouseleave="hover(ann, $index, false)"
                 ng-click="expandAnnotation(ann, $index)"
                 id="annotation_{{$index}}">
                <div ng-hide="ann.isExpanded">
                    <span ng-repeat="unit in ann.AnnotationPreviewUnits.Tokens"
                          ng-class="{linkedText: unit.Type == 'LinkedText'}">
                        {{unit.Val}}</span><span ng-show="ann.IsPreviewCutoff">...</span>
                </div>
                <div ng-show="ann.isExpanded" style="font-size:17px">
                    <span ng-repeat="unit in ann.AnnotationBodyUnits.Tokens"
                          ng-class="{linkedText: unit.Type == 'LinkedText'}">{{unit.Val}}</span>
                </div>
                <hr />
            </div>
        </div>
        <div class="col-md-9" style="overflow-y:scroll;left:30%;width:70%;height:{{pageHeight}}px;position:absolute;top:60px;">
            <span ng-repeat="token in document.Tokens" id="token_{{$index}}"
                  ng-click="clickToken(token)"
                  style="display:inline;white-space:pre"
                  ng-mouseenter="hoverToken(token, $index, true)"
                  ng-mouseleave="hoverToken(token, $index, false)">{{token.AsString}}</span>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        var documentId = '@Model.Id';
    </script>
    <script src="~/Scripts/Controllers/DocumentController.js"></script>
}